on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: false
    
    # Install R + dependencies
    - uses: r-lib/actions/setup-r@v2
      with:
        r-version: '4.4'
        install-r: false
    
    - uses: r-lib/actions/setup-r-dependencies@v2
      with:
        extra-packages: |
          rmarkdown
          tinytex
          any::bookdown
    
    # Install Quarto
    - uses: quarto-dev/quarto-actions/setup@v2
    
    # Render (R code will execute)
    - name: Render Quarto book
      run: |
        quarto render --to html
    
    - name: Upload Pages artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: ./docs

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
    - id: deployment
      uses: actions/deploy-pages@v4
